 .header {
  grid-area: h;
  background-color: royalblue;
  display: grid;
  grid-template-areas: "l n";
  }

  .logo {
   grid-area: l; 
  }
.logo a {
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    color: antiquewhite;
    padding-left: 15px;
  }
 

  .authBlock {
    
    grid-area: n;
  }
  .authBlock a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
    color: antiquewhite;
  float: right;
  padding-right: 15px;
}

.authBlock span {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  font-family: sans-serif;
  color: antiquewhite;
float: right;
padding-right: 15px;
}